modules = ["bash", "python-3.12", "web", "c-clang14", "haskell-ghc9.4"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "BSPWM Demo"

[[workflows.workflow]]
name = "BSPWM Demo"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./universal-bspwm.sh --test"

[workflows.workflow.metadata]
outputType = "console"
